/* Html Background etc. */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
div::-webkit-scrollbar {
  height: 10px;
  border-radius: 5px;
}

div::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
 
/* Handle */
div::-webkit-scrollbar-thumb{
  background: #280137;
  border-radius: 5px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #3c1945;
}

html body {
  background-image: url(gradient.png);
}
div {
  height: 100%;
  margin: 20px;
}

h4 {
  color: aliceblue;
}
h3 {
  color: white;
  padding: 10px;
}
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #3c1945;
  border-radius: 2px;
  width: 100%;
  margin: 1em 0;
  padding: 0;
}
.NavbarLogo {
  width: 10%;
  margin-top: 1% ;
}

.gorillagoicon {
  text-align: center;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#input {
  text-align: center;
  width: 30%;
  border-radius: 10px;
  margin: auto;
  transform: translateY(50%);
}

#AccountInput {
  width: 30%;
  border-radius: 10px;
}
/* Card Design */

.container2 {
  text-align: center;
  display: inline-block;
  margin: 50px;
}

.flex-center{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  
}
.scrollbarContainer{
  margin: 0 !important;
  margin-top: 20px !important;
  padding: 10px;
  overflow-y: hidden;
  display: inline-flex;
  align-items: top;
  height: 330px;
  width: 80%;
  border-radius: 10px;
}

.card {
  background-color: red;
  width: 100%;
  border-radius: 30px;
  flex: 4;
  transition: 0.3s;
  margin: 0 10px;
}

.HomePageCard{
  margin: 0;
  border-radius: 10px;
  flex: 5 ;
  border: 2px solid white;
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3c1945;
  min-width: 300px;
  max-width: 300px;
}

.pizzaKingImg {
  width: 100%;
  height: 80%;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
}

#restaurantName{
  text-align: center;
  margin: 4px;
}


.pizzaHutImg{
  width: 10%;
  height: 10%;
  text-align: center;
}


.button3 {
  background-color: #3c1945;
  color: white;
  border-radius: 30px;
  border: 1px solid white;
}

#restaurantName {
  color: white;
}

/* Footer Design */
.footer {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}
.gorillagoiconfooter {
  width: 5%;
  margin: 20px;
}

/* Button Customization */
.button1 {
  text-align: center;
  border: 2px solid #3c1945;
  background: transparent;
  color: white;
  border-color: #3c1945;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.AccountButtons {
  text-align: center;
  border: 2px solid #280137  !important;
  background: transparent;
  color: white;
  border-color: #3c1945;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.button2 {
  position: relative;
  border: 2px solid #3c1945;
  background: transparent;
  color: white;
  border-color: #3c1945;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  float: right;
}

.div-button {
  align-content: center;
  text-align: center;
}

/* Input Design */
*,
*::after,
*::before {
  box-sizing: inherit;
  font-size: 62, 5%;
  border: 100px;
}

.form__label {
  font-family: "Roboto", sans-serif;
  width: 30%;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: white;
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  height: 30px;
  width: 80%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  background-color: #3c1945;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3c1945 inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.ErrorMessage {
  color: red;
}

.form__inputAccount {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  height: 30px;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  background-color: #280137;
}


/* PizzaKing Site Design */

.PizzaKingHomeImg{
  border-radius: 20px;
  display: inline-block;
  
}

.MenuCard{
  border:  2px solid #3c1945;
  border-radius: 10px;
  width: 20%;
 
}
.MenuH5{
  text-align: center;
  color: white;
}
.MenuImg{
  margin-right: 10px;
  width: 25%;
}
.container {
  position: relative;
  width: 40%;
  
}
.MenuBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  border:  2px solid #3c1945;
  border-radius: 10px;
}

.button4 {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
  max-width: 200px;
}

.react-hot-toast-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}