/* Html Background ect. */
html body {
  background-image:url(gradient.png);
}
div{
  height: 100%;
  margin: 20px;
}


.gorillagoicon{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  
}
#input{
  width: 20%;
}

/* Card Customization */
.custom-label {
  display: inline-block;
  width: 50%;
  color: white;
  justify-content: center;
}
/* Button Customization */
.button1 {
  
  background: transparent;
  color: white;
  border-color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.div-button{
  align-content: center;
  text-align: center;
}












